{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate':'novalidate'}}) }}
    <div class="form-group">
        {{ form_row(form.name) }}
    </div>
    <div class="form-group">
        {{ form_row(form.email) }}
    </div>
    <div class="text-center pt-3 pb-1">
        <div class="btn btn-primary edit-subscriber__button--submit">Update</div>
    </div>
{{ form_end(form) }}