{% extends 'layout/app.twig' %}

{% block title %}Subscribers{% endblock %}

{% block body %}

    <div class="wrapper">


        <div class="content-page">

            {%  include '_header.twig' %}
            <div class="content">
                <div class="container-fluid">
                    <div class="page-title-box pt-3 pb-2 border-bottom border-light mb-2">
                        <h4 class="page-title">Subscribers</h4>
                    </div>


                    {% if subscribers is not empty %}
                        <table id="subscribers-list" class="table table-bordered table-striped full-width">
                            <thead>
                                <th>Subscription date</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Categories</th>
                                <th class="no-sort"></th>
                            </thead>
                            {% for subscriber in subscribers %}
                                <tr>
                                    <td>{{ subscriber.createdAt|date("Y-m-d H:i") }}</td>
                                    <td>{{ subscriber.name }}</td>
                                    <td>{{ subscriber.email }}</td>
                                    <td>
                                        {% if subscriber.categories is not empty %}
                                            {% for key, category in subscriber.categories %}{% if key > 0 %}, {% endif %}{{ category.title }}{% endfor %}
                                        {% endif %}
                                    </td>
                                    <td class="text-right">
                                        <div class="btn btn-sm btn-secondary edit-subscriber__button" data-url="{{ path("subscriber.edit", {"id": subscriber.id}) }}">Edit</div>
                                        <div class="btn btn-sm btn-secondary delete-subscriber__button" data-url="{{ path("subscriber.remove", {"id": subscriber.id}) }}">Delete</div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}


                    <!-- Modal -->
                    <div class="modal fade" id="edit-subscriber__modal" tabindex="-1" role="dialog" aria-labelledby="edit-subscriber__modal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit subscriber</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('subscriber.list') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('subscriber.list') }}
{% endblock %}
