{% extends 'layout/app.twig' %}

{% block title %}Sbuscribe{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="content-page">
            <div class="content">
                <div class="container-fluid p-5 text-center">
                    <div class="card d-inline-block subscription-form text-left">
                        <div class="card-body bg-light">
                            <h3 class="text-center mb-5 text-primary">Newsletter subscription</h3>
                            {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate':'novalidate'}}) }}
                            <div class="form-group">
                                {{ form_row(form.name) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.categories) }}
                            </div>

                            <div class="text-center pt-3">
                                {{ form_row(form.submit, {'attr': {'class': 'btn btn-sm btn-primary'}}) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('subscriber.subscribe') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('subscriber.subscribe') }}
{% endblock %}