{% extends 'layout/app.twig' %}

{% block title %}Successfully subscribed{% endblock %}

{% block body %}
    <div class="position-absolute h-100 w-100">
        <div class="row h-100 mr-0 ml-0">
            <div class="col-sm-12 my-auto">
                <div class="p5 text-center">
                    <h3 class="text-success">You successfully subscribed!</h3>
                    <h5 class="text-muted">Thank you for your subscription.</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}