.full-width {
    width:100%;
}
.dataTables_filter {
    text-align: right;
}
.dataTables_filter label {
    text-align: left;
    line-height:30px;
}
.dataTables_filter input {
    max-width:150px;
    float: right;
    margin-left: 10px;
}
.dataTables_length select {
    max-width:80px;
}
.dataTables_paginate  {
    text-align: right;
}
.dataTables_paginate .pagination {
    float:right;
}
.sorting_asc {
    background-image: url("../../../icons/sort_asc.png");
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    padding-left: 25px !important;
}
.sorting_desc {
    background-image: url("../../../icons/sort_desc.png");
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    padding-left: 25px !important;
}