<div class="p-2 bg-dark text-light">
    <div class="float-right">
        <a href="{{ path("app_logout") }}" class="logout__button"></a>
    </div>
    <div>Newsletters</div>

</div>

{% block stylesheets %}
    {{ encore_entry_link_tags('header') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('header') }}
{% endblock %}