<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    {{ encore_entry_link_tags('global', null) }}
    {% block stylesheets %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>